html,body,ul,li,h1{ 
    margin:0; 
    padding:0; 
} 
 
body{ 
    padding:5px; 
} 
 
ul{ 
    list-style: none; 
} 
 
li{ 
    border-radius: 5px; 
    background-color: #eee; 
    padding:10px 5px 10px 5px; 
    margin:5px 0; 
} 
@media screen and (min-width: 800px){ 
    body{ 
        padding:0 30%; 
    } 
} 
