div.box{
 border: solid 2px;
 margin:0px auto;
 width:60%;
 height:60px;
 text-align:center;
 
    /* box-shadow:5px 5px 5px #999 inset;*/
-moz-box-shadow:5px 5px 5px #999 inset; /* For Firefox3.6+ */ 
-webkit-box-shadow:5px 5px 5px #999 inset; /* For Chrome5+, Safari5+ */ 
box-shadow:5px 5px 5px #999 inset; /* For Latest Opera and other*/ }
h1{font-size:35px;font-weight:bold;}
h1#tt{text-shadow:red -6px 2px 10px;} 

