body {background-color:black}
p {color:blue; background-color:white}
h1 {color:green}
.gn {color:yellow; background-color:black; font-size:30px}
span#w {color:red}
table {border:2px;color:white; font-size:30px}
th {background-color:red}
form#fm{color:white}