/*article {border: solid 1px black;
	background:red;
	float:left;
	width:320px;}
aside {border:solid 1px black;
	background:yellow;
	position:absolute;
	float:left;
	margin-left:350px;}
	/*上面的代码是没有媒体查询，下面代码是使用媒体查询，分别比较不同的效果
	打开chrome google浏览器，打开developer工具，点击toggle device toolbar，
	选择不同宽度的分辨率，
	当分辨率<=480px时，引用的CSS定义会让布局变成单栏，aside作者栏变成粉红色背景
	当分辨率>=481px时，引用的CSS定义会让布局变成双栏，article栏背景变成红色
	  */
@media screen and (max-device-width:480px) {
	article {
		float:none;
		width:auto;}
	aside {
		background:pink;
		float:none;
		width:auto;}
}
@media screen and (min-device-width:481px) {
	article {
	border: solid 1px black;
	background:red;
	float:left;
	width:60%;}
    aside {
	border:solid 1px black;
	background:yellow;
	float:right;
	width:30%;
	margin-left:3px;}
}
