meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
meter::-webkit-meter-bar {
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;
}

meter::-webkit-meter-optimum-value {
    background: #86CC00; /* Green */
    border-radius: 3px;
}

meter::-webkit-meter-suboptimum-value {
    background: #FFDB1A; /* Yellow */
    border-radius: 3px;
}

meter::-webkit-meter-even-less-good-value {
    background: #CC4600; /* Red */
    border-radius: 3px;
}